<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

<jee:jndi-lookup id="dataSource" jndi-name="java:/MySQLDS" expected-type="javax.sql.DataSource"/>

<!--    Configure Hibernate SessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>

<!--    Transaction management-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

<!--    Repositories -->
    <bean id="postRepository" class="org.romafill.blogpostapp.repository.PostRepository">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userRepository" class="org.romafill.blogpostapp.repository.UserRepository">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="commentRepository" class="org.romafill.blogpostapp.repository.CommentRepository">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

<!--    Services-->
    <bean id="postService" class="org.romafill.blogpostapp.service.PostService">
        <constructor-arg name="repository" ref="postRepository"/>
    </bean>

    <bean id="userService" class="org.romafill.blogpostapp.service.UserService">
        <constructor-arg name="repository" ref="userRepository"/>
    </bean>

    <bean id="commentService" class="org.romafill.blogpostapp.service.CommentService">
        <constructor-arg name="repository" ref="commentRepository"/>
    </bean>
</beans>